.git
.github
.pytest_cache
__pycache__
*.pyc
*.pyo
*.log

data
Reasearchs
Researchs
pytest-cache-files-*
htmlcov
.coverage

web/backend/data
web/backend/backend-run.*
web/frontend/node_modules
web/frontend/dist
web/frontend/.angular

.venv
venv
env
web/model-service/.venv
web/model-service/venv
